.objective {
  margin-top: 1rem;
}

.dotPoints {
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
}

.dotPoint {
  display: flex;
  align-items: flex-start;
}

$gap: 21px;
$imgGap: 1rem;

.img {
  margin-top: 1px;
  margin-right: $imgGap;
  width: $gap;
  height: $gap;
}

.eventInfo {
  padding-left: calc($gap + $imgGap);
}
