.button {
    /*the way each button looks*/
  background-color: white;
  height: 600px;
  width: 325px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.icon {
    /*the way the icon fits on the RHS*/
  background-color: white;
  height: 600px;
  width: 325px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.title {
    /*the way the title fits on the LHS*/
  background-color: white;
  height: 600px;
  width: 325px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}