.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 0.4rem;
}

.pastEvents {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eventBoxContainer {
  margin: 21px 10px;
}
