// Helper imports and functions
@use "sass:math";

// multiplies two variables using rem units together
@function multiply-rem($x, $y) {
  @return math.div($x * $y, 1rem);
}

.card {
  background-color: white;
  height: 600px;
  width: 325px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.025);
  }
}

.title {
  text-decoration: none;
  color: black;
}

.description {
  // from layout.tsx for body1
  $font-size: 1.05rem;
  $line-height: 1.6rem;
  $lines-to-show: 6;

  // https://stackoverflow.com/questions/53156266/reactjs-multiline-textarea-with-ellipsis
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: calc(
    multiply-rem($font-size, $line-height) * ($lines-to-show - 0.35)
  ); /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 0.4rem;
}

.topImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.imageContainer {
  width: 100%;
  height: 100%;
  min-height: 180px;
  max-height: 180px;
  > span {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
    min-height: 180px !important;
    max-height: 180px !important;
    object-fit: cover !important;
  }
}

.content {
  height: 100%;
  padding: 0.2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    list-style-type: none;
    margin-top: 15px;
  }
}

.link {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    &:link {
      text-decoration: none;
    }
  }
}
