@import "./variables.scss";
@import "./TileVariables.scss";

.tileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $twoPerRow;
  zoom: $scaleFactor;
}

.testTileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $threePerRow;
  zoom: $scaleFactor;
}

.tileSection {
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-content: center;
}
