.footer {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #303743;
  grid-template-areas: "left middle right";
  grid-template-columns: 1fr 6fr 1fr;
  // TODO might need to change this for media queries
  @media (max-width: 1050px) {
    place-items: center;
    grid-template-columns: 0fr 6fr 0fr;
  }
}

.footerLeft {
  grid-area: left;
}

.footerRight {
  grid-area: right;
}

.mainContainer {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: middle;
  flex-direction: row;
  @media (max-width: 1050px) {
    flex-direction: column;
    justify-content: space-around;
  }
}

.leftText {
  font-size: 24px;
  font-weight: 700;
  @media (max-width: 1050px) {
    margin-top: 15px;
  }
}

.logoList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  @media (max-width: 1050px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.logo {
  width: 50px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
