@import "./variables.scss";

.footer {
  background-color: #303743;
  height: $footerHeight;
  display: grid;
  place-items: center;
  @media screen and (max-width: $mobile) {
    height: $footerHeightMobile;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.leftText {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  @media screen and (max-width: $mobile) {
    margin-bottom: 15px;
    text-align: center;
  }
}

.socials {
  list-style: none;
  display: flex;
  gap: 15px;
}

.socialItem {
  display: grid;
  align-items: center;
  .socialIcon {
    max-height: 45px;
  }
}
