@import "./variables.scss";

.mainContainer {
  margin-top: 2rem;
}

.flexContainer {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  list-style-type: none;
  padding: 0.02px 0;
}

.list {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.item {
  min-width: 280px;
}
