* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f8fb;
}

.content {
  // max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'sidebar-left   topbar  sidebar-right'
    'sidebar-left   content sidebar-right'
    'sidebar-left   footer  sidebar-right';
  grid-template-columns: 1fr 6fr 1fr;
  // TODO: change 6 to 12 for smaller screens
  grid-template-rows: auto auto 70px;
  gap: 25px 0; // horizontal vertical;
  header {
    grid-area: topbar;
  }
  .grid-left_side {
    grid-area: sidebar-left;
  }
  article {
    grid-area: content;
  }
  .grid-right_side {
    grid-area: sidebar-right;
  }
  footer {
    grid-area: footer;
  }
}

// navbar

// hero
.hero {
  height: 300px;
}

// footer
