@import 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f8fb;
  font-family: 'DM Sans', sans-serif; // TODO need alternatives
}

.content {
  // max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'topbar   topbar  topbar'
    'sidebar-left   content sidebar-right'
    'footer   footer  footer';
  grid-template-columns: 1fr 6fr 1fr;
  // TODO: change 6 to 12 for smaller screens
  grid-template-rows: 60px auto 100px;
  // gap: 25px 0; // horizontal vertical;
  header {
    grid-area: topbar;
  }
  .grid-left_side {
    grid-area: sidebar-left;
  }
  article {
    grid-area: content;
  }
  .grid-right_side {
    grid-area: sidebar-right;
  }
  footer {
    grid-area: footer;
  }
  @media (max-width: 1050px) {
    grid-template-rows: 60px auto auto;
  }
}

// navbar

// hero
.hero {
  height: 300px;
}
