@import "https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f8fb;
  font-family: "DM Sans", sans-serif; // TODO need alternatives
}
