* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F4F8FB;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

// navbar


// hero
.hero {
  height: 300px;
}

// footer
@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap";

footer {
	background-color: rgb(48, 55, 67);
	color: white;
	font-family: "DM Sans", sans-serif;
	display: flex;
	min-height: 80px;
	margin-top: 5px;
}

.copyright__container {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 50%;
	padding: 5px;
}

.social__container {
	text-align: center;
	width: 50%;
	margin: 0;
	padding: 5px;
	li {
		display: inline;
		list-style: none;
		padding: 0px 8px;
	}
	ul {
		li {
			a {
				img {
					max-width: 50px;
				}
			}
		}
	}
}
