.hero {
  width: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  min-height: 400px;
  // opacity: 0.96;
  @media (max-width: 750px) {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

.text {
  // https://www.w3schools.com/howto/howto_css_image_text.asp
  // text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 860px;
  // font-size: 3.5vw;
  // font-weight: 900;
}
