@import "./variables.scss";

.hero {
  width: 100%;
  position: relative;
}

.imageContainer {
  width: 100%;
  height: 100%;
  max-height: $heroMaxHeight;
  > span {
    position: unset !important;
  }
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
    min-height: 400px !important;
    max-height: $heroMaxHeight !important;
  }
  @media (max-width: 1200px) {
    .image {
      object-fit: cover !important;
      height: 100%;
    }
  }
}

.image2 {
  width: 100%;
  height: auto;
  min-height: 400px;
  max-height: 600px;
  object-fit: cover;
  // opacity: 0.96;
  @media (max-width: 750px) {
    width: 100%;
    height: 400px;
  }
}

.text {
  // https://www.w3schools.com/howto/howto_css_image_text.asp
  // text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 860px;
  // font-size: 3.5vw;
  // font-weight: 900;
}
