.mainContainer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  flex-direction: column;
}

.descText {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-weight: 500;
}

.newEventsContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.newEventsTitle {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrows {
  height: 30px;
  width: 30px;
  &:hover {
    cursor: pointer;
  }
}
