.mainContainer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  flex-direction: column;
}

.descText {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-weight: 500;
}
