@import "./variables.scss";

.header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
  z-index: 10;
  height: $navBarHeight;
  border-bottom: 1px solid;
}

.content {
  // max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "topbar   topbar  topbar"
    "sidebar-left   content sidebar-right"
    "footer   footer  footer";
  grid-template-columns: 1fr 6fr 1fr;
  // TODO: change 6 to 12 for smaller screens
  grid-template-rows: 60px auto 100px;
  // gap: 25px 0; // horizontal vertical;
  // NOTE: Any height changes for header needs to be reflected on Layout.module.scss
  header {
    grid-area: topbar;
  }
  .grid-left_side {
    grid-area: sidebar-left;
  }
  article {
    grid-area: content;
  }
  .grid-right_side {
    grid-area: sidebar-right;
  }
  footer {
    grid-area: footer;
  }
  @media (max-width: 1050px) {
    grid-template-rows: 60px auto auto;
  }
  @media (max-width: 750px) {
    grid-template-columns: 0fr 6fr 0fr;
  }
}
