@import "./variables.scss";

.navbar {
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 100;
  background-color: white;
  height: $headerHeight;
}

.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $mobile) {
    justify-content: space-between;
  }
}

.hamburger {
  display: none;
  @media screen and (max-width: $mobile) {
    display: block;
  }
}

.logoContainer {
  height: 45px;
  margin-right: 15px;
  .logo {
    height: 45px;
  }
  @media screen and (max-width: $mobile) {
    margin-right: 0;
  }
}

.navItems {
  @media screen and (max-width: $mobile) {
    display: none;
    &.open {
      display: block;
      position: absolute;
      top: $headerHeight;
      left: 0;
      width: 100%;
      background-color: lightgray;
      text-align: center;
      .navLinks {
        flex-direction: column;
        font-size: 18px;
      }
    }
  }
}

.navLinks {
  list-style: none;
  display: flex;
  li {
    display: inline;
    a {
      text-decoration: none;
      color: $darkNavy;
      font-size: 17px;
    }
  }
}

.toggle {
  margin-left: 5px;
  @media screen and (max-width: $mobile) {
    margin-left: 0;
  }
}
