@import "./variables.scss";

$iconGap: 2.4rem;
$itemGap: 2rem;

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  /* place-items: center; */
  z-index: 100;
  background-color: $navyBG;
  height: $headerHeight;
  position: relative;
}

.navbarContent {
  /* position: relative; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $mobile) {
    justify-content: space-between;
  }
}

.logo {
  vertical-align: middle;
  height: 32px;
  padding-right: $iconGap;

  @media screen and (max-width: $mobile) {
    padding-right: 0;
  }
}

.shop {
  vertical-align: middle;
  height: 24px;
  padding-left: $iconGap;

  @media screen and (max-width: $mobile) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.hamburger {
  color: white;
  display: none;

  @media screen and (max-width: $mobile) {
    display: inline-block;
  }
}

.navItems {
  list-style: none;
  display: flex;
  justify-content: space-around;
  & > *:not(:last-child) {
    margin-right: $itemGap;
  }

  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.navItemsMobile {
  display: none;
  position: absolute;
  top: $headerHeight;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
  padding-top: 1rem;

  @media screen and (max-width: $mobile) {
    display: inline-block;
  }
}
