@import "./variables.scss";

.dropdown {
  background-color: $lightNavyBG;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: start;
  min-width: 10.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // NOTE: box shadow bleeds from top
  box-shadow: 1px 3px 20px 0 rgba(0, 0, 0, 0.25);
  @media screen and (max-width: $mobile) {
    top: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }
}

.dropdownBox {
  list-style: none;
  a {
    text-decoration: none;
  }
  @media screen and (max-width: $mobile) {
    padding-left: 2rem;
  }
}

.parentBox {
  display: none;
  @media screen and (max-width: $mobile) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
    background-color: lightgrey;
  }
}

.arrowLeft {
  margin-right: 1rem;
  height: 16px;
  &:hover {
    cursor: pointer;
  }
}

.item {
  transition: background-color ease-out 0.3s;
  padding: 0.7rem 0.7rem;
  overflow: none;
  color: white;
  &:hover {
    background-color: #0074b7;
  }
  @media screen and (max-width: $mobile) {
    color: black;
  }
}
