@import "./variables.scss";

.dropdown {
  background-color: $lightNavyBG;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  text-align: start;
  min-width: 10.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // NOTE: box shadow bleeds from top
  box-shadow: 1px 3px 20px 0 rgba(0, 0, 0, 0.25);
}

.dropdownBox {
  list-style: none;
  a {
    text-decoration: none;
  }
}

.item {
  transition: background-color ease-out 0.3s;
  padding: 0.7rem 0.7rem;
  overflow: none;
  &:hover {
    background-color: #0074b7;
  }
}
