@import "./variables.scss";

.navItem {
  display: flex;
  position: relative;
}

.navLink {
  text-decoration: none;
}

.dropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 16px;
  padding-left: 0.2rem;
  margin-right: -0.6rem;
  &:hover {
    cursor: pointer;
  }
}
