@import './variables.scss';

$breakpoint: 610px;

.hero {
  width: 100%;
  min-height: 350px; // TODO: To be decided
  max-height: $heroMaxHeight;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center center;

  overflow: hidden;
  background-repeat: no-repeat;

  color: white;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    order: 0;
    position: relative;
  }
}

.icon {
  max-height: 210px;
  margin: 1.5rem;

  @media (max-width: $breakpoint) {
    max-height: 180px;
    max-width: 260px;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
}

.title {
  margin: 1.5rem;

  @media (max-width: $breakpoint) {
    margin-bottom: 1rem;
  }
}

.flip {
  // this is for flipping the title on resource pg heroes
  order: 1;
  @media (max-width: $breakpoint) {
    order: 0;
  }
}
