.resources {
  /*this is the whole area that all the resource strips will fit into*/
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 60px 0;
  & > *:not(:last-child) {
    margin-bottom: 40px;
  }
}
