$baseColor: #05445e;
$breakPoint: 750px;

.strip {
  /*the way each strip looks*/
  background-color: white;
  height: 280px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);
  a {
    text-decoration: none;
  }
  background-color: $baseColor;
  position: relative;
}

.stripContent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;

  text-align: center;
  color: white;
  position: absolute;

  @media only screen and (max-device-width: $breakPoint) {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.flip {
  order: 1;
  @media only screen and (max-device-width: $breakPoint) {
    order: 0;
  }
}

.icon {
  @media only screen and (max-device-width: $breakPoint) {
    max-height: 40%;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
