.mainContainer {
  margin-top: 50px;
  width: 100%;
}

.title {
  color: #201b4b;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.subTitle {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
}

.cardsContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.widthContainer {
  width: 80%;
  margin-left: 10%;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}
