.tile { //modified from card scss
  background-color: white;
  height: 300px;
  min-width: 380px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }

  flex-basis: auto;
  flex: 1;

  
  margin: 15px;
  justify-content: space-evenly;
}

.tileContent {
  // Can you make the navigation bar in the same position
  // with content distributed as before (space evenly or around)
}

.frontTile {
  padding-left: 30px;
  padding-right: 30px;
  .icon {
    padding-bottom: 50px;
    max-height: 50px;
  }
}

.backTile {
  padding-left: 30px;
  padding-right: 30px;
  height: 70%;
}

.tileGroup {
  list-style-type:none
}


/* TO-DO: ARROW TRANSITION
.arrowLHS {
  transition: background-color 2s ease-out;
  onClick {
    background-color: orangered;
  }
}*/

.arrowLHS, .arrowRHS {
  // transition might be difficult because we are re-rendering a new arrow for each tile slide?
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  cursor: pointer;
  margin-right: .5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 27, 75);
}

.traverserFront {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.traverserBack {
  //transition-delay: 20ms;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

