@import "./variables.scss";
@import "./TileVariables.scss";

/*.tile {
  flex: 1 0 calc(25% - 10px);
  justify-content: center;
}*/

.tileContent {
  background-color: white;
  height: $fitSevenLinks;
  width: $tileWidth;
  border-radius: 16px;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px 0px;
  margin: $tileMargin;
}

.tileSlides {
  padding: 0px 30px;
  .icon {
    padding-bottom: 50px;
    max-height: 50px;
  }
  ul {
    list-style-type: none;
  }
}

.nav {
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 8px 10px 8px;
  width: 30px;

  transition: all 0.1s;
  background-color: transparent;
  border: transparent;
}
.arrow:hover {
  background-color: rgb(219, 219, 219);
}
.arrow:active {
  background-color: rgb(190, 190, 190);
}

.disabled {
  // use react's disabled tag on button?
  background-color: transparent;
  border: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  padding: 6px 5px 6px 5px;

  width: 30px;
  img {
    filter: grayscale(100%) brightness(500%);
  }
}

.exploreArrow {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(32, 27, 75);
  border: transparent;
  background-color: transparent;
  border-radius: 5px;
  img {
    padding-left: 5px;
    opacity: 0;
    transition: 0.2s;
  }
  width: 100px;
  transition: all 0.5s;
  padding: 4px 0px 4px 15px;
  position: relative;
  left: -10px;

  @media screen and (max-width: $mobile) {
    padding-left: 0px;
    img {
      opacity: 1;
    }
  }
}
.exploreArrow:hover img {
  opacity: 1;
  transition: all 0.7s;
}
.exploreArrow:hover {
  padding-left: 0px;
}
