// THIS FILE IS JUST TO MAKE TILES EASIER TO WORK WITH FOR NOW
// TODO: figure out a better way to implement styling & cleanup unnessicary code

$tileWidth: 350px;
$tileMargin: 25px;
// this allows x amount of tiles to fit on each row of tile container
$threePerRow: calc(3 * (#{$tileMargin} + #{$tileWidth} + #{$tileMargin}));
$twoPerRow: calc(2 * (#{$tileMargin} + #{$tileWidth} + #{$tileMargin}));

// scales the tile container by some factor
$scaleFactor: 0.9;

// this allows at most 7 links to fit on a tileSlide.
$fitSevenLinks: 320px;
