.newEventsContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  color: #201b4b;
}

.events {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

.arrows {
  height: 30px;
  width: 30px;
  &:hover {
    cursor: pointer;
  }
}

.empty {
  background-color: lightgray;
  width: 100%;
  text-align: center;
}
