// Variables

$darkNavy: #201b4b;
$navyBG: #001a37;
$lightNavyBG: #002a59;
$blueAccent: #0074b7;
$headerHeight: 60px;
$footerHeight: 70px;
$footerHeightMobile: 120px;
$heroMaxHeight: 700px;

// BREAKPOINTS
$mobile: 960px;

// from Material UI
$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;
