.cardBackground {
  background-color: white;
  height: 100%;
  // width: 80%;
  border-radius: 16px;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 0.3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  padding: 1.7rem 5%;
  display: flex;
  flex-direction: column;
  ol {
    padding-left: 2em;
  }
  width: 100%;
}
