@import "./variables.scss";

.button {
  font-size: 1rem;
  border-radius: 20px;
  padding: 0.8rem 2.5rem;
  background-color: #225ac3;
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.05);
  border: white;
  color: white;
  text-decoration: none;
  /* transition: background-color 200ms ease-in-out; */
  transition: transform 0.1s ease-out, -webkit-transform 0.1s;
  &:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
  /* &:hover { */
  /*   background-color: #2522c3; */
  /*   -webkit-transition: background-color 200ms ease-in-out; */
  /*   -ms-transition: background-color 200ms ease-in-out; */
  /*   cursor: pointer; */
  /* } */
}

.buttonContainer {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}
