@import "./variables.scss";

// Even spacing between each section
.contactBody > *:not(:last-child) {
  padding-bottom: 15px;
  @media screen and (max-width: $sm) {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.socialContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    // outline: auto;
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  @media screen and (max-width: $sm) {
    flex-direction: column;
    div {
      width: 100%;
    }
  }
}

.socialItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.socialIcon {
  width: 30px;
  height: 30px;
}

.contactName {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $sm) {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  @media screen and (max-width: $md) {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
}

.messageBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.inputItem {
  border-radius: 30px;
  height: 30px;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  border-color: #4169e1;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  @media screen and (max-width: $sm) {
    padding: 0px;
    width: 95%;
    text-align: center;
  }
}

.inputItem:hover {
  transform: scale(1.1);
  background-color: white;
  color: #4169e1;
}

.emailItem {
  border-radius: 30px;
  height: 30px;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0px;
  border-color: #4169e1;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  @media screen and (max-width: $sm) {
    padding: 0px;
    width: 95%;
    text-align: center;
  }
  @media screen and (max-width: $md) {
    text-align: center;
  }
}

.emailItem:hover {
  transform: scale(1.1);
  background-color: white;
  color: #4169e1;
}

.messageItem {
  border-radius: 30px;
  height: 200px;
  padding: 1.5%;
  border-color: #4169e1;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.messageItem:hover {
  transform: scale(1.05);
  background-color: white;
  color: #4169e1;
}

.submitButton {
  background-color: #4169e1;
  color: white;
  border-radius: 30px;
  height: 30px;
  width: 30%;
  border-color: #4169e1;
  padding-left: 5%;
  padding-right: 5%;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.submitButton:hover {
  transform: scale(1.1);
  background-color: white;
  color: #4169e1;
}
