.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 0.5rem;
}

.pastEvents {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.eventBoxContainer {
  margin: 21px 10px;
}

.empty {
  background-color: lightgray;
  width: 100%;
  text-align: center;
  padding: 0.2rem;
}
