@import "./variables.scss";

.content {
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "topbar"
    "content"
    "footer";
  header {
    grid-area: topbar;
  }
  article {
    grid-area: content;
  }
  footer {
    grid-area: footer;
  }
  grid-template-rows: $headerHeight auto $footerHeight;
  @media screen and (max-width: $mobile) {
    grid-template-rows: $headerHeight auto $footerHeightMobile;
  }
}

.header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10;
}
