.personImage {
  width: 153px;
  height: 153px;
  border-radius: 50%;
  object-fit: cover;
}

.directorsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.person {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.large {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio {
  width: 90%;
  @media screen and (max-width: 840px) {
    width: 100%;
  }
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  list-style-type: none;
}
