.sponsorBox {
  margin: 1.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    height: 60px;
    max-width: 200px;
    object-fit: contain;
  }
  .link {
    align-self: flex-start;
    text-decoration: none;
  }
}
