.sponsorBox {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .link {
    align-self: flex-start;
    text-decoration: none;
  }
}

.logoLink {
  display: flex;
  justify-content: center;
}
