.logo {
  max-height: 100%;
  object-fit: contain;
  align-self: center;
}
.logoSquare {
  max-width: min(100%, 100px);
}
.logoHorizontal {
  max-width: 200px;
}
.logoLongHorizontal {
  max-width: 400px;
}

@media screen and (max-width: 500px) {
  .logoLongHorizontal {
    max-width: 95%;
  }
}
