@import "./events.module.scss";

.newEventsContainer {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  color: #201b4b;
}

.eventCarousel {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  @media screen and (min-width: 900px) {
    max-width: 100%;
  }
  @media screen and (max-width: 900px) {
    width: 85vw;
  }
  @media screen and (max-width: 300px) {
    width: 100vw;
  }
}

.carouselEventCard {
  margin: 30px auto;
  max-width: 90%;
}
