@import "./events.module.scss";

.newEventsContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  color: #201b4b;
}

.eventCarousel {
  margin-top: 1.5rem;
}
